@media screen and (max-width: 767px) {
    .mobile-space {
        margin-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .mobile-padding-x {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .mobile-padding-y {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .mobile-submenu {
        right: 0px !important;
        top: 6rem !important;
        width: 80% !important;
    }

    .mobile-find-our-width {
    }

    #project .img-project {
        width: 100%;
    }

    #visimisi {
        padding-top: 1rem !important;
    }


    #profile {
        padding-top: 1rem !important;
    }

    #profile .container .row :nth-child(1) {
        order: 2;
    }
    #profile .container .row :nth-child(2) {
        order: 1;
    }
    #profile .container .row :nth-child(3) {
        order: 3;
    }

    .img-aboutus {
        min-width: 0px !important;
        width: 100% !important;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}


#bigBanner {
    margin-bottom: 3rem;
}

    #bigBanner .big-banner {
        width: 100%;
    }

#ilustrasi {
    min-height: 100vh;
    margin-bottom: 3rem !important;
}

    #ilustrasi .ilustrasi-image {
        height: 340px;
    }

    #ilustrasi .ilustrasi-title {
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
    }

    #ilustrasi .ilustrasi-content {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }

#profile {
    padding-top: 10rem;
    min-height: 140vh;
}

    #profile .img-aboutus {
        min-width: 530px;
        max-height: 400px;
    }

#visimisi {
    padding-top: 6rem;
    padding-bottom: 4rem;
}

    #visimisi .cards {
        margin-top: 2rem !important;
        margin-bottom: 4rem !important;
    }

    #visimisi .cards .card {
        width: 18rem;    
        padding: 0.4rem;
        background: #FFFFFF;
        box-shadow: 10px 20px 50px rgba(35, 35, 35, 0.05);
        border-radius: 24px;
        border: none;
        margin: 0.8rem;
    }

#sponsor .image-sponsor {
    margin: 1.5rem !important;
}

#howItWork {
    padding-top: 6rem;
    min-height: 200vh !important;
}

#project {
    min-height: 30vh !important;
    padding-bottom: 3rem;
}

    #project .img-project {
        /* height: 400px !important; */
    }

#product {
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding-bottom: 2rem;
}

    #product .product:hover .img-product {
        display: none;
    }

    #product .product:hover .img-product-box {
        min-height: 560px;
        display: block;
        animation: fadein 2s;
    }

    #product .img-product {
        width: 100%;
    }

    #product .img-product:hover {
        display: none;
    }

    #product .img-product-box {
        display: none;
        width: 100%;
        min-height: 560px;
        border-radius: 20px;
        background-color: #FFC143;
        border-left: 22px solid #1C957F;
    }

.nav-link {
    font-weight: 600;
}

.text-header {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
}
a {
    text-decoration: none;
}
.text-link-header {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #1C957F;
    text-align: center;
    max-width: 600px;
    position: relative;

}

.text-link-header::after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background: #1C957F;
    left: 150px;
    top: 50%;
    position: absolute;

}

.img-fluid {
    width: 100%;
}

#findout  {
    margin-bottom: 4rem;
}

.form {
    width: 80vw;
}

#footer {
    background-color: #232323;
    min-height: 300px;
    color: #FFFFFF;
    padding-top: 5rem;
}

#footer .text-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    max-width: 80%;
}

#footer .title-footer {
    color: #1C957F;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

#footer ul {
    list-style: none;
    padding-left: 0;
}

#footer ul li {
    margin: 1rem;
    margin-left: 0;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

.btn-green {
    background-color: #1C957F !important;
    color: #FFFFFF;
    padding: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.banner {
    width: 100%;
}

.text-normal {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
}

.text-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
}

.text-tag {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.438rem;
    letter-spacing: 00.2em;
    text-transform: uppercase;
}

.dropdownmenu:hover ~ .submenu {
    display: block;
}

.submenu:hover {
    display: block;
}

.submenu {
    display: none;
    width: 50%;
    padding: 1rem;
    min-height: 200px;
    z-index: 99;
    position: absolute;
    background: white;
    box-shadow: 10px 10px 100px rgba(35, 35, 35, 0.07);
    right: 10rem;
    top: 6rem;
    border-radius: 0.5rem;
}

    .submenu .title-submenu {
        margin-top: 1.4rem;
        color: #1C957F;
        font-style: normal;
        font-size: 1.5rem;
        line-height: 1.93rem;
        font-weight: 600;
    }

    .submenu ul {
        padding-left: 0;
        list-style: none;
    }

    .submenu ul li {
        padding: 0.5rem;
        padding-left: 0;
    }

.box-topbottomleft-radius {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #FFFFFF;
    box-shadow: -10px 8px 100px rgba(35, 35, 35, 0.05);
    border-radius: 40px 0px 0px 40px;
}

.accordion-active {
    background: #FFC143;
    border-radius: 40px 0px 0px 40px;
}

.color-green {
    color: #1C957F !important;
}

.title-find-our {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.9rem;
    margin-bottom: 1rem;
}


.text-find-our {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.625rem;
}

.cursor-active {
    cursor: pointer;
}

#sectionOne {
    display: block;
}

#sectionOne:hover #sectionOneTitle {
    display: none;
}

#sectionOne:hover #sectionOneShadow {
    display: block;
    animation: fadein 1s;
}

#sectionOneShadow {
    display: none;
}

#sectionTwo {
    display: block;
}

#sectionTwo:hover #sectionTwoTitle {
    display: none;
}

#sectionTwo:hover #sectionTwoShadow {
    display: block;
    animation: fadein 1s;
}

#sectionTwoShadow {
    display: none;
}

#sectionThree {
    display: block;
}

#sectionThree:hover #sectionThreeTitle {
    display: none;
}

#sectionThree:hover #sectionThreeShadow {
    display: block;
    animation: fadein 1s;
}

#sectionThreeShadow {
    display: none;
}

#sectionFour {
    display: block;
}

#sectionFour:hover #sectionFourTitle {
    display: none;
}

#sectionFour:hover #sectionFourShadow {
    display: block;
    animation: fadein 1s;
}

#sectionFourShadow {
    display: none;
}

footer {
    color: #FFFFFF;
    background-color: #232323;
  }


  /* ANIMATION */
  @keyframes fadein {
    from { 
        opacity: 0; 
        transform: translatey(-10px);
    }
    to   { 
        opacity: 1; 
        transform: translatey(0px);
    }
}


