@media screen and (max-width: 767px) {
    .mobile-space {
        margin-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .mobile-padding-x {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .mobile-padding-y {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
body {
    font-family: 'Open Sans', sans-serif;
}

#header {

}

#bigBanner {
    margin-bottom: 3rem;
}

#ilustrasi {
    min-height: 100vh;
    margin-bottom: 3rem !important;
}

    #ilustrasi .ilustrasi-image {
        height: 340px;
    }

    #ilustrasi .ilustrasi-title {
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
    }

    #ilustrasi .ilustrasi-content {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }

.nav-link {
    font-weight: 600;
}

.text-header {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
}
a {
    text-decoration: none;
}
.text-link-header {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #1C957F;
    text-align: center;
    max-width: 600px;
    position: relative;

}

.text-link-header::after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background: #1C957F;
    left: 150px;
    top: 50%;
    position: absolute;

}

.small-banner {

}

.img-fluid {
    width: 100%;
}




#findout  {
    margin-bottom: 4rem;
}

.form {
    width: 80vw;
}

#footer {
    background-color: #232323;
    min-height: 300px;
    color: #FFFFFF;
    padding-top: 5rem;
}

#footer .text-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    max-width: 80%;
}

#footer .title-footer {
    color: #1C957F;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

#footer ul {
    list-style: none;
    padding-left: 0;
}

#footer ul li {
    margin: 1rem;
    margin-left: 0;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}