@media only screen and (min-width: 250px) and (max-width: 600px) {
    /* Untuk Menghilangkan Di Mobile */
    .d-none-mobile {
        display: none !important;
    }

    .container {
        width: 100%;
        margin: auto;
    }

    #measureImpact {
        text-align: center !important;
    }

    #measureImpact .title {
        text-align: center !important;
    }

    #measureImpact .subtitle {
        text-align: center !important;
    }

    #ourStory .title {
        text-align: center !important;
    }

    #ourStory .description {
        text-align: center !important;
    }

    .content {
        text-align: center;
    }

    .container nav {
        padding: 20px;
    }

    .section_banner {
        min-height: 40vh;
        padding: 10px;
    }

    .button-learn-more {
        background-color: var(--background-button-dark);
        border: none;
        padding: 0.6rem 0.8rem;
        color: var(--text-color-white);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 120%;
        letter-spacing: 0.25em;
        cursor: pointer;
        text-decoration: none;
        border-radius: 3px;
    }

    .button-learn-more:hover {
        background-color: var(--background-button-light);
    }

    section .img-section-header {
        height: inherit !important;
    }

    section .img-section {
        height: inherit !important;
    }

    #cardCounter .card {
        display: block !important;
        width: 90vw !important;
        margin: 0 !important;
        margin-bottom: 20px !important;
    }

    #bigBanner {
        width: 80vw !important;
        overflow: hidden;
        padding: 10px !important;
        margin: none !important;
    }

    #bigBanner .title {
        font-size: 2.8rem !important;
    }

    .footer-mobile {
        padding: 20px;
        background-color: var(--background-secondary);
    }

    .footer-mobile .title {
        color: var(--active-color);
    }

    .footer-mobile .menu {
        padding-left: 0;
        list-style: none;
    }

    .footer-mobile .menu li {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: var(--text-color-secondary);
        margin: 16px 0;
    }

    .small-footer {
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 600px)
    and (max-width: 1300px) {
    /* Untuk Menghilangkan Di Tab */
    .d-none-ipad {
        display: none !important;
    }

}

@media only screen and (min-width: 1300px) {
    .d-none-desktop {
        display: none !important;
        margin: 0;
        padding: 0;
    }
}

#creatingOpurtiny .card {
    padding-top: 50px;
    height: 280px;
    padding-left: 24px;
    padding-right: 24px;
    transition: transform .2s;
}

#creatingOpurtiny .card img {
    height: 100px;
    margin-bottom: 8px;
}

#creatingOpurtiny .card:hover {
    transform: scale(1.1);
}

#creatingOpurtiny .card .title {
    margin-top: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: var(--text-color-secondary);
}

#creatingOpurtiny .card .subtitle {
    margin-top: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    font-size: 16px;
    text-align: center;
    color: var(--text-color-secondary);
}

#ourStory .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    text-align: right;
    color: var(--text-color-secondary);
    margin-bottom: 2rem;
}

#ourStory .description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: right;
    color: #000000;
}

#ourHistory .row {
    margin-bottom: 40px;
}

#ourHistory .image {
    margin-top: 8px;
}

#ourHistory .content .title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;    
    color: var(--text-color-secondary);
}

#ourHistory .content .description {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--text-color-secondary);
}

.section_banner .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 130%;
    color: var(--text-color-secondary);
    margin-top: 20vh;
    margin-bottom: 20px;
}

.section_banner .button-learn-more {
    background-color: var(--background-button-dark);
    border: none;
    padding: 0.6rem 0.8rem;
    color: var(--text-color-white);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.25em;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
}

.section_banner .button-learn-more:hover {
    background-color: var(--background-button-light);
}

.section_2_columns_with_image .col {
    padding: 0;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 130%;
    /* identical to box height, or 78px */

    text-align: center;

    color: #18A48D;
}

.section_2_columns_with_image .col img {
    width: 98%;
    height: 100%;
}

.section_2_columns_with_image .col .line-on-top-title {
    border: none;
}

.section_2_columns_with_image .col .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #232323;
}

.col .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #232323;
}

.section_2_columns_with_image .col .description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #232323;
}

.col .description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #232323;
}

.section_2_columns_with_image .content-text {
    padding: 20px;
    padding-top: 40px;
    text-align: justify;
}

.content-text {
    padding: 20px;
    padding-top: 40px;
    text-align: justify;
}

.section_2_columns_with_image .content-text .button-learn-more {
    background-color: var(--background-button-dark);
    border: none;
    padding: 0.6rem 0.8rem;
    color: var(--text-color-white);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.25em;
    cursor: pointer;
    text-decoration: none;
}

.section_2_columns_with_image .content-text .button-learn-more {
    background-color: var(--background-button-light);
}


.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.line-on-top-title {
    text-align: center;
    height: 4px; 
    width: 4%; 
    background-color: var(--background-dark);
}

.background-dark {
    background-color: var(--background-secondary);
}

.button {
    padding: 1.2rem 0 !important;
    border: none !important;
    border-radius: 10px !important;
    width: 100%;
}

.button-background-light {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--text-color-white);
    background-color: var(--background-button-light) !important;
}


#bigBanner {
    padding: 8rem 0;
}

    #bigBanner .title {
        font-family: 'Inter', sans-serif;
        font-size: 60px;
        font-weight: 800;
        text-align: left;
        line-height: 130%
    }

    #bigBanner .subtitle {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        text-align: left;
    }

#cardCounter .card {
    width: 100%;
    display: flex;
    background: #FFFFFF;
    box-shadow: -4px 8px 70px rgba(24, 164, 141, 0.15);
    padding: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}

    #cardCounter .card .title {
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 60px;
        text-align: center;
        color: #58CCB9;
        margin-bottom: 20px !important;
    }

    #cardCounter .card .subtitle {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin: 0;
    }

#measureImpact {
    padding-bottom: 100px;
}

#measureImpact .title {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 33px;
    text-align: center;
}

#measureImpact .subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 35px;
    text-align: center;
    line-height: 160%;
}

#measureImpact .item {
    padding: 28px;
}

#measureImpact .item .title {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: var(--text-color-secondary);
}

#measureImpact .item .subtitle {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--text-color-secondary);
}

#measureImpact .item .button-learn-more {
    background-color: var(--background-button-dark);
    border: none;
    padding: 0.6rem 0.8rem;
    color: var(--text-color-white);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.25em;
    cursor: pointer;
    text-decoration: none;
}

#measureImpact .item .button-learn-more:hover {
    background-color: var(--background-button-light);
}

#howCanWeHelp .title {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
}

#howCanWeHelp .subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
    line-height: 160%;
}

#howCanWeHelp .form {
    width: 60%;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 60px;
    text-align: center;
}

    #howCanWeHelp .form .input-form {
        min-height: 40px;
        width: 98%;
        border-radius: 8px;
        border: none !important;
        background-color: #23232340 !important;
        padding: 0.5rem;
    }

    #howCanWeHelp .form .button {
        padding: 1.2rem 0 !important;
        border: none !important;
        border-radius: 10px !important;
        width: 100%;
    }

#ourTeam .flip {
    margin: 2px; 
    height: 200px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    object-fit: contain;
}

    #ourTeam .title {
        margin-top: 1rem;
        font-family: 'Inter';
        font-style: normal;
        font-weight: bold;
        font-weight: 800;
        font-size: 40px;
        line-height: 130%;
        text-align: center;
        color: var(--text-color-secondary);
    }

    #ourTeam .flip:hover {
        transform: rotateY(180deg);
    }

#sponsor .title {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.sidebar {
    display: none;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30%;
    background: #58CCB9;
}

.sidebar .menu-item {
    display: block;
    padding: 20px 40px;
    text-align: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
}

#ourProjects .card {
    margin-bottom: 4px;
    box-shadow: -10px 8px 100px rgba(35, 35, 35, 0.1);
}

#ourProjects .card .line-on-top-title {
    /* border: none; */
    width: 40px;
    height: 3px;
    display: inline-block;
}

#ourProjects .card .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 130%;
    color: #232323;
    margin-top: 14px;
    margin-bottom: 6px;
}

#ourProjects .card .description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #232323;
}

#ourProjects .card .button-learn-more {
    background-color: var(--background-button-dark);
    border: none;
    padding: 0.6rem 0.8rem;
    color: var(--text-color-white);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.25em;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
}

#ourNumber .title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    color: #58CCB9;
    margin: 15px;
}

#ourNumber .subtitle {
    columns: var(--text-color-secondary);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 0;
    letter-spacing: 0.01em;
}

#ourNumber .description {
    columns: var(--text-color-secondary);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin: 0;
    letter-spacing: 0.01em;
    line-height: 19px;
}

.menu-mobile {
    padding-top: 40px;
    top: 0;
    right: 0;
    position: absolute;
    float: right;
    background: #18a48de9;
    height: 100vh !important;
    width: 80vw;
}

.menu-mobile .menu-item {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: right;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--text-color-white);
}